{% extends "base.html" %}

{% block content %}
<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="card">
        <div class="card-body text-center">
            <h3>LYF <br> Hotel Management System</h3>
            <hr>
            <div class="text-center">
                <h5>Edgardo Faderon</h5>
                <p>Owner</p>
                <h5>Magsaysay St., Bagumbayan, Roxas,<br> Oriental Mindoro, Philippines</h5>
                <p>Address</p>
            </div>
        </div>

        
    </div>
</div>
<div class="col-md-2"></div>
    
</div>
{% endblock  %}