{% extends "base.html" %}

{% block content %}
<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="card">
        <div class="card-body text-center">
            <h3>LYF <br> Hotel Management System</h3>
            <hr>
            <h5>Dedicated to serve to our valued customers</h5>
            <hr>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <i class="fab fa-facebook-square" aria-hidden="false"></i>&nbsp LYF Hotel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-twitter-square" aria-hidden="false"></i>&nbsp @lyf_hotel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fab fa-instagram-square" aria-hidden="false"></i>&nbsp @lyf_hotel</a>
                </li>
            </ul>
        </div>

        
    </div>
</div>
<div class="col-md-2"></div>
    
</div>
{% endblock  %}