{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-lg-4">
            <button type="button" class="btn btn-block shadow" data-toggle="modal" data-target="#standardModal"  style="background-color: #4fc3f7 ;">
                View Single Bed Room
            </button>
        </div>

        <div class="col-lg-4">
            <button type="button" class="btn btn-block shadow" data-toggle="modal" data-target="#deluxeModal"  style="background-color: #eeff41 ;">
                View Double Bed Room
            </button>
        </div>

        <div class="col-lg-4">
            <button type="button" class="btn btn-block shadow" data-toggle="modal" data-target="#vipModal"  style="background-color: #ef5350 ;">
                View Family Size Bed Room
            </button>
        </div>
    </div>
    <div class="card shadow mb-5 mt-5">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="standardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Single Bed Size Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="card" style="width: 100%;">
            <img src="{% static 'images/room1.jpg' %}" class="card-img-top" alt="..." style="height: 40vh;">
            <div class="card-body">
                <p class="card-text">Single Bed Size Room</p>
                ₱ 650.00
            </div>
        </div>
    </div>
    <hr>
  
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deluxeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Double Bed Size Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="card" style="width: 100%;">
            <img src="{% static 'images/room2.jpg' %}" class="card-img-top" alt="..." style="height: 40vh;">
            <div class="card-body">
                <p class="card-text">Double Bed Size Room</p>
                ₱ 850.00
            </div>
        </div>
    </div>
    <hr>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="vipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Family Bed Size Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="card" style="width: 100%;">
            <img src="{% static 'images/room3.jpg' %}" class="card-img-top" alt="..." style="height: 40vh;">
            <div class="card-body">
                <p class="card-text">Family Bed Size Room</p>
                ₱ 1,300.00
            </div>
        </div>
    </div>
    <hr>
   
    </div>
</div>
</div>
{% endblock  %}